<ion-view title="Search" id="page1" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="search-form1" class="list ">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search username" ng-model="searchStr" ng-model-options='{ debounce: 1000 }' ng-change="searchUser(searchStr)">
            </label>
        </form>
        <ion-list id="search-list3" class=" ">
            <ion-list id="search-list3" class=" ">
                <ion-item class="item-avatar"
                          id="search-list-item6"
                          collection-repeat="user in users"
                          ui-sref="profile({user: user.login})">
                    <img ng-src="{{ user.avatar_url }}">
                    <h2 ng-bind="user.login"></h2>
                </ion-item>
            </ion-list>
        </ion-list>
    </ion-content>
</ion-view>

